body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: black;
  }
  
  a {
    color: #000;
  }
  
 .header{
     background: orangered;
     box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
     position: fixed;
     width: 100%;
     z-index: 3;
     
 }
 .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    background: orangered;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: orangered;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
}
.header li a:hover,
.header .menu .btn:hover {
  background-color: rgba(255, 115, 0, 0.952);
}
 
 .menu {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
  }

 /* .header .btn {
    display: none;
  } */
  
  .header .btn:checked ~ .menu {
    max-height: 240px;
  }

  @media (min-width: 40em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
   
}
